body {
  background-color: #1ba6b0;
  color: #000;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

p{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

.topnav {
  text-align: center;
  margin-bottom: 20px;
}

.topnav a {
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 25px;
  transition: color 0.3s ease, text-decoration 0.3s ease; 
}

.topnav a:hover {
  color: #cf2a51;
  text-decoration: none;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 20px 0;
  border: none;
  border-top: 2.5px solid #000000;
  
}

.contact_form {
  margin-top: 20px;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

.contact_form textarea {
  height: 100px;
}
section {
  background-color: rgb(174, 230, 227);
  border: 4px solid #000;
  border-radius: 10px; 
  padding: 7.5px;
}
img{
  width:450px;
  height:450px;
  margin: 10px;
  border: 2px solid #ccc;
}
.contact_form button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact_form button:hover {
  background-color: #cf2a51;
}

.social_links {
  margin-top: 30px;
}

.social_links ul {
  list-style-type: disc;
  padding-left: 20px;
}
